.contentDiv {
    position: relative;
    width: 15rem;
    height: 5.625rem;
    bottom: 100px;
    background: #FFFFFF;
    border-radius: .4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0 10px;
}

.contentDiv::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    color: #FFFFFF;
    border-color: #FFFFFF transparent transparent transparent;
}

.contentImgArea {
    width: 4.75rem;
    height: 4.75rem;
    border: .125rem;
}

.contentTextArea {
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    gap: 5px 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid blue; */
}

.contentTextTitle {
    width: 8.75rem;
    height: 20%;

}

.contentTextDesc {
    width: 8.75rem;
    height: 60%;
    padding: 5px 0;
    overflow: hidden;
    line-height: 1.1rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    font-size: 12px;
}

.contentTextBtnBox {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0 10px;
}

.contentTextDetailBtn {
    width: 40%;
    height: 100%;
    border: 1px solid red;
    border-radius: 4px;
}

.contentTextDeleteBtn {
    width: 40%;
    height: 100%;
    background: #eee;
    border-radius: 4px;
}